#menu {
    display: none;
    width: 100%;
    height: auto;
    background: #696969;
}
#btnmenu {
    display: block;
    margin: 0px;
    height: 50px;
}
header{
    padding-top: 0px;
}
nav ul li {
    display: block;
    list-style: none;
}
nav ul li a {
    width: 100%;
    font: 18px Rokkitt, Tahoma, Arial;
    color: #FFF;
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    float: left;
}
.col-sobre{
    width: 100%;
}
#col-sobre-right{
    margin-top:20px;
}
.experiencias-container{
    width: 50%;
}
.col-experiencias{
    width:250px;
    height: 250px;
}
.experiencias-content {
    height: 250px;
    clip: rect(0 250px 240px 0);
}
.experiencia-description{
    margin-top:250px;
    height: 250px;
}
.skillbar{
    width: 90%;
    margin-right: 5%;
    margin-left:5%;
}