
module mypol 1.0;

require {
	type nsfs_t;
	type abrt_dump_oops_t;
	class file getattr;
}

#============= abrt_dump_oops_t ==============
allow abrt_dump_oops_t nsfs_t:file getattr;
